name: Ping Supabase Keep-Alive

on:
  schedule:
    # Mantido a cada 1 hora
    - cron: '*/6 * * * *'
  
  workflow_dispatch:

jobs:
  ping_site:
    runs-on: ubuntu-latest
    
    steps:
      - name: Registrar Log de Keep-Alive (INSERT SQL)
        run: |
          # URL para inserir dados na tabela 'keep_alive_log' via PostgREST
          curl -s -o /dev/null "https://nlbkcnaocannelwdcqwa.supabase.co/rest/v1/keep_alive_log" \
          -X POST \
          -H "apikey: ${{ secrets.SUPABASE_ANON_KEY }}" \
          -H "Content-Type: application/json" \
          -d "{}"


    # Opções de ping (Minuto Hora Dia-do-Mês Mês Dia-da-Semana - UTC):
    #
    # a cada 6 minutos: '*/6 * * * *' (O mínimo suportado pelo GitHub é a cada 5 minutos)
    # a cada 1 hora: '0 * * * *'
    # a cada 6 horas: '0 */6 * * *'
    # a cada 12 horas: '0 */12 * * *'
    # a cada 24 horas (Diariamente): '0 0 * * *'
    # a cada 7 dias (Máx. seguro para Supabase): '0 0 * * 1' (Toda segunda-feira à meia-noite)
